[submodule "rune-card-service-seed"]
	path = rune-card-service-seed
	url = git@github.com:rune-catalog/rune-card-service-seed.git
[submodule "rune-collection-service"]
	path = rune-collection-service
	url = git@github.com:rune-catalog/rune-collection-service.git
[submodule "rune-card-service"]
	path = rune-card-service
	url = git@github.com:rune-catalog/rune-card-service.git
